@model Livraria.Models.Livros

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Livros</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.autor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.autor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.editora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.editora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.edicao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.edicao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sinopse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sinopse)
        </dd>

    </dl>
</div>
<p>
    @if (Session["tipoUsuario"].Equals("True"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) 
    }
    |
    @Html.ActionLink("Back to List", "Index")
</p>
